@font-face {
  font-family: 'CalifornianFB';
  src: url('font/CalifornianFB.eot');
  src: local('CalifornianFB'), url('font/CalifornianFB.woff') format('woff'), url('font/CalifornianFB.ttf') format('truetype');
}
